@{
    ViewData["Title"] = "Home Page";
    string versionText = "Version 4";
}

<div class="text-center">
    <h1 class="display-4">@versionText</h1>
    <p>This is @versionText of the app</p>
</div>
